<div class="container">
  <div class="p-3 border bg-light" id="<%= dom_id article %>">
    <div class="mb-3">
      <h5>
        Title:
      </h5>
    </div>
    <div class="mb-3">
        <%= article.title %>
    </div>


    <div class="mb-3">
      <h5>
        Body:
      </h5>
    </div>
    <div class="mb-3">
        <%= article.body %>
    </div>
  </div>
</div>

